<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="mqtt" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>

    <connectionStrings>
        <add name="Production" connectionString="host=localhost;database=smartthings;password=postgres;username=postgres" />
    </connectionStrings>
    
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
                <arg key="level" value="INFO" />
                <arg key="showLogName" value="true" />
                <arg key="showDateTime" value="true" />
                <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
            </factoryAdapter>
        </logging>
    </common>
    
    <mqtt>
        <add key="BrokerHostName" value="localhost"/>
        <add key="BrokerPort" value="1883"/>
    </mqtt>
</configuration>