<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Base" connectionString="Server=localhost;Database=apresentacao_nancy;User ID=postgres;Password=postgres"/>
  </connectionStrings>
  
  <appSettings>
    <add key="ConnectionString" value="Server=localhost;Database=apresentacao_nancy;User ID=postgres;Password=postgres"/>
  </appSettings>
</configuration>